<div ng-if="isLoaded">
    <ocs-intro-section meta="meta.pageHeaderSummary"></ocs-intro-section>

    <ocs-401 meta="meta" msgheader="379079" msgbody="379080"></ocs-401>
    
    <div ng-show="$root.isAuthenticated">
        <ocs-error error-list="errorList"></ocs-error>

        <div class="alert alert-info" tabindex="0">
            {{:preResolved:$root.msg(365522)}} 
            {{:preResolved:$root.msg(365523)}} 
            {{:preResolved:$root.msg(360766)}} 
            <strong>{{documents.length}}</strong> 
            {{:preResolved:$root.msg(104616)}} 
            <strong>{{maxItems}}</strong> 
            {{:preResolved:$root.msg(365794)}}
        </div>

        <div class="list display-table" ng-if="documents.length > 0">
            <!-- (DOCUMENTS)  this is one row template -->
            <div class="list-item display-table-row" ng-repeat="doc in documents | orderBy:'-createDate' track by $index" ng-class="{'list-last':$last}">
                <div class="list-col-main display-table-cell vertical-align-middle pt16 pb16">
                    <div class="list-body">
                        <div class="header-actions">
                            <!-- row heading link -->
                            <h3 class="list-item-heading"><a ng-click="downloadFile(doc.id)">{{doc.name}}</a></h3>
                            <!-- row data columns -->
                            <div>
                                <div>
                                    <span>
                                        <span class="list-label">{{:preResolved:$root.msg(253912)}}</span>
                                        <span class="list-value">{{doc.createDate |date}}</span>
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <span class="list-label">{{:preResolved:$root.msg(354555)}}:</span>
                                        <span class="list-value">{{doc.fileType}}</span>
                                    </span>
                                    <span class="vertical-separator">|</span>
                                    <span>
                                        <span class="list-label">{{$root.meta.docSize.label.lookUpMsg.value}}:</span>
                                        <span class="list-value">{{doc.fileSize}}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-col-actions display-table-cell vertical-align-middle pt16 pb16">
                    <div class="list-body">
                        <div class="list-item-actions text-right">
                            <!-- action buttons -->
                            <button class="btn btn-link" ng-click="deleteDocument(doc.id)">{{:preResolved:$root.msg(157853)}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt32"></div>

        <div class="panel panel-muted" ng-show="documents.length < maxItems">
            <div class="panel-body">
                <ocs-upload meta="config.documentUpload" documents="documents" 
                            on-error="onUploadError" 
                            on-success="onUploadSuccess" 
                            extra-upload-params="config.extraUploadParams"></ocs-upload>
            </div>
        </div>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">{{msg(246651)}}</h3>
            </div>
            <div class="modal-body">
                <h4>{{msg(365795)}}</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">{{msg(315145)}}</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">{{msg(162574)}}</button>
            </div>
        </script>

    </div>
</div>



