@{ ViewBag.Title = "Help"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/help/help-app.js"></script>
<script src="~/UI/help/help-meta.js"></script>
<script src="~/UI/help/help-config.js"></script>
<script src="~/UI/help/careerPlan/careerPlan-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>