.intro-section(@margin-bottom: 30px) {
    .intro-section {
        .intro-wrapper {
            margin-bottom: @margin-bottom/2;
            >h1{
                margin-top: 0;
            }

            .occupation-icon-description {
                @media (max-width: @screen-xs-max){
                    display: block;
                    .mb15;
                }
            }
        }
    }
}