@{ ViewBag.Title = "Job search"; }

@section Header
{

<script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.5.1/fingerprint2.min.js"></script>

<!-- build:js -->
<script src="~/UI/jobSearch3/jobSearch-meta.js"></script>
<script src="~/UI/jobSearch3/jobSearch-config.js"></script>

<script src="~/UI/jobSearch3/jobSearch-app.js"></script>
<script src="~/UI/jobSearch3/summary/jobSearch-summary-ctrl.js"></script>

<!-- endbuild -->
}
<!-- JobSearch3 -->
<div ng-view></div>