.fa-file-o {
    &:before { content: '\f016'; } 
}
.fa-share {
    &:before { content: '\f064'; } 
}
.fa-minus-circle{
    &:before { content: '\f056'; }
} 
.fa-times {
    &:before { content: '\f00d'; } 
}
.fa-info-circle {
    &:before { content: '\f05a'; } 
}
.fa-plus {
    &:before { content: '\f067'; } 
}
.fa-check {
    &:before { content: '\f00c'; } 
}
.fa-folder-open-o {
    &:before { content: '\f115'; }
}
.fa-dropbox {
    &:before { content: '\f16b'; } 
}
.fa-google {
    &:before { content: '\f1a0'; } 
}