@{ ViewBag.Title = "Account Page"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/spaStatus/spaStatus-meta.js"></script>
<script src="~/UI/spaStatus/spaStatus-config.js"></script>

<script src="~/UI/spaStatus/spaStatus-app.js"></script>

<script src="~/UI/spaStatus/index/spaStatus-index-ctrl.js"></script>
<script src="~/UI/spaStatus/menuCreator/spaStatus-menuCreator-ctrl.js"></script>
<!-- endbuild -->
}
<div ng-view></div>


