@{ ViewBag.Title = "Style Guide"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/styleGuide/styleGuide-meta.js"></script>
<script src="~/UI/styleGuide/styleGuide-config.js"></script>
<script src="~/UI/styleGuide/styleGuide-app.js"></script>

<script src="~/UI/styleGuide/Landing/styleGuide-ctrl.js"></script>
<!-- endbuild -->
}
<div ng-view></div>


