@{ ViewBag.Title = "Terms of Use"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/termsOfUse/termsOfUse-meta.js"></script>
<script src="~/UI/termsOfUse/termsOfUse-config.js"></script>

<script src="~/UI/termsOfUse/termsOfUse-app.js"></script>
<script src="~/UI/termsOfUse/index/termsOfUse-index-ctrl.js"></script>
<!-- endbuild -->
}
<div ng-view></div>
