@{ ViewBag.Title = "logIn"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/logIn/logIn-meta.js"></script>
<script src="~/UI/logIn/logIn-config.js"></script>

<script src="~/UI/logIn/logIn-app.js"></script>
<script src="~/UI/logIn/index/logIn-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
