<div class="row">
    <div class="col-md-12">
        <h4>{{:preResolved:$root.msg(365792)}}</h4>
    </div>
    <div class="col-md-4">
        <button type="button"
                class="btn btn-info btn-file btn-block"
                ng-click="browse()">
            <span class="fa fa-cloud-upload"></span> {{:preResolved:$root.msg(181227)}}
        </button>
    </div>
    <div class="col-md-4">
        <button type="button"
                class="btn btn-info btn-file btn-block"
                lk-google-picker
                on-picked="onGDrivePicked(fileInfo)">
            <span class="fa fa-cloud-upload"></span> {{:preResolved:$root.msg(319437)}}
        </button>
    </div>
    <div class="col-md-4">
        <button type="button"
                class="btn btn-info btn-file btn-block"
                drop-box-picker
                on-picked="onDropBoxPicked(filesInfo)">
            <span class="fa fa-cloud-upload"></span> {{:preResolved:$root.msg(320202)}}
        </button>
        <input type="file" id="fileUpload" nv-file-select uploader="uploader" ng-show="false" />
        <br />
    </div>

    <div class="col-md-12 hidden-xs">
        <div class="text-center my-drop-zone" style="border:  1px dashed gray;" nv-file-drop nv-file-over="" uploader="uploader">
            <br />
            <br />
            {{:preResolved:$root.msg(365793)}}
            <br />
            <br><br>
        </div>
    </div>
</div>