<ng-form name='singleItemForm' novalidate>
    <div class='form-group' ng-class="{'has-error': !(singleItemForm.$pristine || singleItemForm.$valid)}">
        <label for='{{:preResolved:elimentId}}'>
            <span ng-show='{{:preResolved:meta.required}}'>*</span>{{:preResolved:meta.label.lookUpMsg.value}}
        </label>

        <span ng-show="{{meta.help}}" class="ng-hide">
            <a href="" class="helpIcon" popover-trigger="focus" title="{{:preResolved:meta.help.title.lookUpMsg.value}}" 
               uib-popover-template="'popOverActivities-4.html'" popover-title="{{:preResolved:meta.help.title.lookUpMsg.text}}">[?]</a>
            <script type="text/ng-template" id="popOverActivities-4.html">
                <p ng-bind-html=":preResolved:(meta.help.content.lookUpMsg.text | unsafe)"></p>
            </script>
        </span>

        <input class='form-control'
               ng-model='model'
               id='{{:preResolved:elimentId}}'
               placeholder='{{:preResolved:meta.placeholder.lookUpMsg.value}}'
               MaxLength='5'
               type='text'
               ng-required='{{:preResolved:meta.required}}'
               ng-model-options="{ updateOn: 'default', debounce: { 'default': 200, 'blur': 0 } }"
               ng-disabled=":preResolved:meta.disabled" />


        <span class="error-message ng-hide" ng-show="!singleItemForm.$pristine">
            <span ng-show='singleItemForm.$dirty && singleItemForm.$invalid'>
                <span ng-show='singleItemForm.$error.required'>{{meta.error.required.lookUpMsg.value}}</span>
            </span>

            <!-- workinf matching validation -->
            <span ng-show="singleItemForm.$error.wrong">
                <span>{{:preResolved:meta.error.wrong.lookUpMsg.value}}</span>
            </span>

            <span ng-show="singleItemForm.$error.nomatch">
                <span>{{:preResolved:meta.error.nomatch.lookUpMsg.value}}</span>
            </span>

            <span ng-show="singleItemForm.$error.minlength">
                <span>{{:preResolved:meta.error.minlength.lookUpMsg.value}}</span>
            </span>
        </span>

        <span class="error-message" ng-show="singleItemForm.$pristine || singleItemForm.$valid">&nbsp;</span>
    </div>
</ng-form>
