@{ ViewBag.Title = "Account Reset"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/accountReset/accountReset-meta.js"></script>
<script src="~/UI/accountReset/accountReset-config.js"></script>
<script src="~/UI/accountReset/accountReset-app.js"></script>

<script src="~/UI/accountReset/index/index-ctrl.js"></script>
<script src="~/UI/accountReset/forgotPassword/forgotPassword-ctrl.js"></script>
<script src="~/UI/accountReset/resetPassword/resetPassword-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
