<div ng-if="isLoaded">
    <ocs-intro-section meta="meta.pageHeader"></ocs-intro-section>

    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <a href="/accountReset/forgotPassword">{{msg(70203)}}</a>
                        <br>
                        <a href="/accountReset/resetPassword/123">{{msg(151887)}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="">{{msg(339822)}}</button>
                </div>
            </div>
        </div>



    </div>
</div>
