<div class="main-footer" ng-controller="footerController">
    <div class="footer-links">
        <div class="footer-groups">
            <strong>Military.com Network:</strong>
            <span>
                <a href="http://www.defensetech.org/">
                    Defense Tech
                </a>
            </span>
            <span>
                <a href="http://www.dodbuzz.com">
                    DoD Buzz
                </a>
            </span>
            <span>
                <a href="http://www.spousebuzz.com">
                    SpouseBuzz
                </a>
            </span>
        </div>

        <div class="footer-groups">
            <strong>Services:</strong>
            <span>
                <a href="http://www.military.com/army">
                    Army
                </a>
            </span>
            <span>
                <a href="http://www.military.com/marine-corps">
                    Marine Corps
                </a>
            </span>
            <span>
                <a href="http://www.military.com/navy">
                    Navy
                </a>
            </span>
            <span>
                <a href="http://www.military.com/air-force">
                    Air Force
                </a>
            </span>
            <span>
                <a href="http://www.military.com/coast-guard">
                    Coast Guard
                </a>
            </span>
            <span>
                <a href="http://www.military.com/national-guard">
                    National Guard
                </a>
            </span>
        </div>

        <div class="footer-groups">
            <strong>About Military.com:</strong>
            <span>
                <a href="http://www.military.com/about-us">
                    About Us &amp; Press Room
                </a>
            </span>
            <span>
                <a href="http://www.military.com/aboutus/twocolumn/0,15929,Business-Opportunities,00.html">
                    Advertise With Us
                </a>
            </span>
            <span>
                <a href="http://www.military.com/daily-news/military-rss-feeds.html">
                    RSS
                </a>
            </span>
            <span>
                <a href="http://www.military.com/about-us/help-and-feedback">
                    Help
                </a>
            </span>
            <span>
                <a href="http://www.military.com/AboutUs/More/1,14822,User_Agreement,00.html">
                    User Agreement
                </a>
            </span>
            <span>
                <a href="http://www.military.com/AboutUs/More/1,14822,Privacy_Policy,00.html">
                    Privacy Policy
                </a>
            </span>
            <span>
                <a class="view-other-site" href="http://www.military.com/about-us/apps">
                    Mobile Apps
                </a>
            </span>
            <span>
                <a class="view-other-site" href="http://www.military.com/sitemap/">
                    Site Map
                </a>
            </span>
        </div>
    </div>

    <div class="footer-social">
        <a href="http://www.facebook.com/militarydotcom" target="_blank" title="Facebook" aria-label="Facebook">
            <span class="facebook"></span>
        </a>
        <a href="http://www.twitter.com/militarydotcom" target="_blank" title="Twitter" aria-label="Twitter">
            <span class="twitter"></span>
        </a>
        <a href="https://plus.google.com/+MilitaryDotCom" target="_blank" title="Google Plus" aria-label="Google Plus">
            <span class="googleplus"></span>
        </a>
        <a href="http://instagram.com/militarydotcom" target="_blank" title="Instagram" aria-label="Instagram">
            <span class="instagram"></span>
        </a>
        <a href="http://pinterest.com/Militarydotcom/" target="_blank" title="Pintrest" aria-label="Pintrest">
            <span class="pininterest"></span>
        </a>
        <a href="https://www.youtube.com/user/MilcomVids" target="_blank" title="Youtube" aria-label="Youtube">
            <span class="youtube"></span>
        </a>
    </div>

    <div class="footer-copyright">
        © {{currentYear}} Military Advantage
        <div class="parent-company"></div>
    </div>

    <div class="footer-adchoises">
        <a title="AdChoices" class="adchoices" href="http://preferences-mgr.truste.com/?pid=monster01&amp;aid=military_PublisherSolution&amp;type=military" target="_blank">
            <span class="adchoices-icon">AdChoices</span>
        </a>
    </div>
    <script src="https://images.military.com/script/global/js/military.google.analaytics.js"></script>
</div>