<div class="panel">
    <div class="accordion-toggle">
        <h5 ng-click="toggleOpen()" tabindex="0" uib-accordion-transclude="heading">
            {{heading}}

            <i class="material-icons pull-right">{{ (!isOpen) ? 'add_circle' : 'remove_circle' }}</i>
            <span class="sr-only" ng-show="!isOpen">, Collapsed</span>
            <span class="sr-only" ng-show="isOpen">, Opened</span>
        </h5>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen" aria-hidden="false" style="height: 0">
        <div ng-transclude></div>
    </div>
</div>
