<section class="row" ng-if="productVariables.EnvironmentType!=='Production'">
    <div ng-controller="debugController">
        <div style="position:fixed; top: 0; right:0; z-index: 1000;">
            <button type="button" class="btn btn-info btn-xs btn-block" ng-click="showMessageModal=true" title="Messages">M</button>
            <button type="button" class="btn btn-warning btn-xs btn-block" ng-click="toggleMessageDisplay()" title="Supress Messages">S</button>
            <button type="button" class="btn btn-success btn-xs btn-block" ng-click="showConfigeModal=true" title="Show Configs">C</button>
            <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="openRegistryModal()" title="Show regestry">R</button>
        </div>

        <!-- Messages Modal -->
        <modal shown="showMessageModal" name="headerMessagesModal.html" ok-modal="toggleMessageDisplay()"></modal>
        <script type="text/ng-template" id="headerMessagesModal.html">
            <div class="modal-header">
                <h4 class="modal-title"><strong>All messages on page</strong></h4>
            </div>
            <div class="modal-body">
                ChannelID: <strong>{{::productVariables.ChannelID}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ChannelAlias: <strong>{{productVariables.ChannelAlias}}</strong>
                <hr>
                <div class="row" ng-repeat="message in serverMessagesObj">
                    <ng-form name="form">
                        <div class="col-sm-2">{{message.id}}</div>
                        <div class="col-sm-8">
                            <input style="width: 100%;" ng-model="message.text" />
                        </div>
                        <div class="col-sm-2">
                            <button ng-if="!form.$pristine" class="btn btn-disabled btn-sm btn-block">save</button>
                        </div>
                    </ng-form>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="ok()">Supress Messages</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            </div>
        </script>


        <!-- Configs Modal -->
        <modal shown="showConfigeModal" name="headerConfigModal.html"></modal>
        <script type="text/ng-template" id="headerConfigModal.html">
            <div class="modal-header">
                <h4 class="modal-title"><strong>All Configs on page</strong></h4>
            </div>
            <div class="modal-body">
                ChannelID: <strong>{{::productVariables.ChannelID}}</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ChannelAlias: <strong>{{productVariables.ChannelAlias}}</strong>
                <br><br><strong>Layout Config</strong>
                <hr>
                <div ng-repeat="(key,topLevelConfigs) in configLayout">
                    <h3>{{key}}</h3>
                    <div class="row" ng-repeat="(key,config) in topLevelConfigs">
                        <ng-form name="form">
                            <div class="col-sm-1">{{key}}</div>
                            <div class="col-sm-6">{{config.lookUpConfig.serverId}}</div>
                            <div class="col-sm-3">
                                <input style="width: 100%;" ng-model="config.lookUpConfig.value" />
                            </div>
                            <div class="col-sm-2">
                                <button ng-if="!form.$pristine" class="btn btn-disabled btn-sm btn-block">save</button>
                            </div>
                        </ng-form>
                    </div>
                </div>
                <pre>{{configLayout | json}}</pre>
                <strong>Meta Config</strong>
                <pre>{{configMeta | json}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            </div>
        </script>


        <!-- Registry Modal -->
        <modal name="headerRegistryModal.html" ok-modal="toggleRegestryDisplay()"></modal>
        <script type="text/ng-template" id="headerRegistryModal.html">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Registry</strong></h4>
            </div>
            <div class="modal-body">
                <pre>{{$root.registry | json}}</pre>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" ng-click="ok()">Purge</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
            </div>
        </script>
    </div>
</section>

<div ng-controller="LoginController">
    <!--ng-class="{'shift-header-right': $root.sideMenu.open, 'shift-header-left': $root.search.open}"-->
    <header class="main-header header--fixed" headroom options="$root.headerOptions">

        <div class="header-wrapper">
            <div class="header-wrap">
                <div class="logo">
                    <a href="{{$root.logo.url}}" title="{{$root.msg(161568)}}" aria-label="{{$root.msg(161568)}}"></a>
                </div>
                <div class="mobile-search-toggle" ng-init="search = { open: false }" ng-click="$root.search.open = !$root.search.open">
                    <span class="sr-only">{{$root.msg(361964)}}</span>
                    <i class="material-icons">search</i>
                </div>
                <div class="mobile-menu-toggle" ng-click="$root.sideMenu.open = !$root.sideMenu.open;">
                    <span aria-label="mobile menu toggle"></span>
                </div>
                <div class="header-links">
                    <ocs-Navbar meta="meta.nav1" template-name="ocs-navbar"
                                settings="{hoverDelay: 0,
                        removeInverse: true,
                        removeCarets: true,
                        enableHeaderLink: true,
                        innerMobileButtons: false}">
                    </ocs-Navbar>
                </div>
                <h1 class="logo-text">{{$root.msg(161568)}}</h1>
                <div class="header-icons">
                    <div class="site-login" ng-if="!isAuthenticated()">
                        <div>
                            <a href="#" ng-click="login(); $event.preventDefault();">{{$root.msg(320405)}}</a>
                        </div>
                    </div>
                    <div class="site-user"
                         ng-if="isAuthenticated()"
                         uib-dropdown
                         keyboard-nav>
                        <button id="site-user" type="button" uib-dropdown-toggle>
                            <i class="material-icons">&#xE7FD;</i>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="site-user">
                            <li role="menuitem" class="site-user-info">
                                <span>{{getUserEmail()}}</span>
                            </li>
                            <li role="menuitem">
                                <a href="{{$root.meta.menuLogged.url}}">{{$root.meta.menuLogged.display}}</a>
                            </li>
                            <li role="menuitem" ng-repeat="item in $root.meta.menuLogged track by $index" ng-if="item.display">
                                <a href="{{item.url}}">{{item.display}}</a>
                            </li>
                            <li role="menuitem">
                                <a href="#" ng-click="logout();  $event.preventDefault();">{{$root.msg(165227)}}</a>
                            </li>
                        </ul>
                    </div>
                    <div name="site-search" class="site-search-not-top">
                        <ocs-site-search-mil focus=""></ocs-site-search-mil>
                        <!--<input type="text" value="" title="site search" />
                        <button type="submit"><i class="material-icons">search</i></button>-->
                    </div>
                    <div class="site-search"
                         uib-dropdown
                         auto-close="outsideClick"
                         keyboard-nav>
                        <button tabindex="0" id="site-search" type="button" uib-dropdown-toggle>
                            <i class="material-icons">&#xE8B6;</i>
                        </button>
                        <div class="dropdown-menu"
                             uib-dropdown-menu
                             role="menu"
                             aria-labelledby="site-search">
                            <ocs-site-search-mil focus=""></ocs-site-search-mil>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


