@{ ViewBag.Title = "Career Personality"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/careerPersonality/careerPersonality-meta.js"></script>
<script src="~/UI/careerPersonality/careerPersonality-config.js"></script>

<script src="~/UI/careerPersonality/careerPersonality-app.js"></script>
<script src="~/UI/careerPersonality/Index/careerPersonality-index-ctrl.js"></script>
<script src="~/UI/careerPersonality/Questions/careerPersonality-questions-ctrl.js"></script>
<script src="~/UI/careerPersonality/Results/careerPersonality-results-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
