@{ ViewBag.Title = "Job Application History"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/applicationHistory/applicationHistory-meta.js"></script>
<script src="~/UI/applicationHistory/applicationHistory-config.js"></script>

<script src="~/UI/applicationHistory/applicationHistory-app.js"></script>
<script src="~/UI/applicationHistory/index/applicationHistory-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
