@{ ViewBag.Title = "Assessments"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/assessments/assessments-meta.js"></script>
<script src="~/UI/assessments/assessments-config.js"></script>

<script src="~/UI/assessments/assessments-app.js"></script>
<script src="~/UI/assessments/index/assessments-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
