@{ ViewBag.Title = "Saved Searches"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/savedSearches/savedSearches-meta.js"></script>
<script src="~/UI/savedSearches/savedSearches-config.js"></script>

<script src="~/UI/savedSearches/savedSearches-app.js"></script>
<script src="~/UI/savedSearches/index/savedSearches-index-ctrl.js"></script>
<script src="~/UI/savedSearches/edit/savedSearches-edit-ctrl.js"></script>
<script src="~/UI/savedSearches/optOutAgents/optOutAgents-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>



