<div ng-if="isLoaded">
   
    <ocs-intro-section meta="meta.pageHeaderAssessments"></ocs-intro-section>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{msg(346856)}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right" role="group" aria-label="{{msg(339822)}}">
                <button type="button" class="btn btn-default" ng-click="">{{msg(339822)}}</button>
            </div>
        </div>
    </div>
</div>

