<ng-form name="passwordAssistForm" novalidate>
    <div style="background: #f5f7fa; padding: 10px; margin-bottom: 28px;">
        <p class="label-type">{{meta.requirementTitle.lookUpMsg.value}}</p>
        <ul class="list-unstyled">
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': min, 'fa-times text-danger': !min}"></i>
                {{defaults.messageMinimumOf}} {{defaults.minLength}} {{defaults.messageCharacters}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': max, 'fa-times text-danger': !max}"></i>
                {{defaults.messageLengthShouldNotExceed}} {{defaults.maxLength}} {{defaults.messageCharacters}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': upperLower, 'fa-times text-danger': !upperLower}"></i>
                {{defaults.messageContainsUppercaseAndLowercaseLetters}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': digits, 'fa-times text-danger': !digits}"></i>
                {{defaults.messageContainsNumbers}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': characters, 'fa-times text-danger': !characters}"></i>
                {{defaults.messageContainsSpecialCharacters}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': spaces, 'fa-times text-danger': !spaces}"></i>
                {{defaults.messageDoesntContainSpaces}}
            </li>
            <li>
                <i class="fa fa-fw" ng-class="{'fa-check text-success': isMatched, 'fa-times text-danger': !isMatched}"></i>
                {{defaults.messagePasswordsMatch}}
            </li>
        </ul>
    </div>
</ng-form>