@{ ViewBag.Title = "Upload Resume"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/microSiteCms/microSiteCms-meta.js"></script>
<script src="~/UI/microSiteCms/microSiteCms-config.js"></script>

<script src="~/UI/microSiteCms/microSiteCms-app.js"></script>
<script src="~/UI/microSiteCms/index/microSiteCms-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
