<div ng-if="isLoaded">
    <ocs-intro-section meta="meta.pageHeaderPassword"></ocs-intro-section>
    
    <div>
        <div class="row">
            <div class="col-sm-12">
                <ng-form name="resetForm" novalidate>
                    <div ocs-bind-to-button validation="resetForm" trigger="#submitReset" list=".form-control">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="row">

                                    <div class='col-sm-6'>
                                        <ocs-input meta="meta.password" model="reset.password"></ocs-input>
                                        <ocs-input meta="meta.passwordConfirm" model="reset.passwordConfirm" match="reset.password"></ocs-input>
                                    </div>
                                    <div class='col-sm-6'>
                                        <password-assist meta="meta.passwordAssist"
                                                         model="reset.password"
                                                         passwordconfirm="reset.passwordConfirm"
                                                         messages="meta.password.RequirementMessages"></password-assist>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="btn-group pull-right" role="group" aria-label="...">
                                        <ocs-button id="submitReset" meta="meta.button1" validation="resetForm.$invalid"
                                                    ng-click="submit()" options="{classes:'btn-primary pull-right'}"></ocs-button>
                                    </div>
                                </div>

                                <label ng-show="showSubmitMsg" ng-class="{'text-success': isSuccess, 'text-danger': !isSuccess}"
                                       ng-bind="submitMessage"></label>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </div>

    </div>
</div>

