@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <script src="~/lib/oidc/oidc.js"></script>
    <script src="~/lib/oidc/oidc_config.js"></script>

    <script>
        var login_hint = window.localStorage.getItem('login_hint');
        if (login_hint && login_hint !== "")
        {
            window.localStorage.setItem('impersonation', true);
        }
        window.localStorage.removeItem('login_hint');
        window.mgr.processTokenCallbackAsync().then(function () {
            var url = window.localStorage.getItem('$location');
            if (url)
            {
                window.localStorage.removeItem('$location');
                window.location = url;
            }
            else
            {
                window.location = '/';
            }
        });
    </script>
</head>
<body>
</body>
</html>

