@{ ViewBag.Title = "Budget Calculator"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/occupationOne/occupationOne-meta.js"></script>
<script src="~/UI/occupationOne/occupationOne-config.js"></script>

<script src="~/UI/occupationOne/occupationOne-app.js"></script>
<script src="~/UI/occupationOne/index/occupationOne-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
