<div ng-if="$root.isLoaded">
    <ocs-intro-section meta="meta.passwordChangeHeader"></ocs-intro-section>

    <ocs-error error-list="vm.changeStatus"></ocs-error>

    <ocs-401 meta="meta" msgheader="379218" msgbody="379219"></ocs-401>
   
    <div ng-if="$root.isAuthenticated">
        <ng-form name="vm.passwordChangeForm">
            <div class="row">
                <div class="col-md-6">
                    <ocs-input meta="meta.passwordOld" model="vm.password.old"></ocs-input>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <ocs-input meta="meta.password"
                               model="vm.password.new"></ocs-input>

                    <ocs-input meta="meta.passwordConfirm"
                               model="vm.password.confirm"
                               match="vm.password.new"></ocs-input>
                </div>
                <div class="col-sm-6">
                    <password-assist meta="meta.passwordAssist"
                                     model="vm.password.new"
                                     passwordconfirm="vm.password.confirm"
                                     messages="meta.password.RequirementMessages"></password-assist>
                </div>
                <div class="col-xs-12 text-right">
                    <a class="btn btn-link" 
                            ng-href="/account">
                        {{:preResolved:$root.msg(162574)}}
                    </a>
                    <button class="btn btn-primary"
                            type="button"
                            ng-disabled="vm.passwordChangeForm.$invalid"
                            ng-click="vm.changePassword(vm.password.old, vm.password.new)">
                        {{:preResolved:$root.msg(374989)}}
                    </button>
                </div>
            </div>
        </ng-form>
    </div>
</div>


