<div ng-if="isLoaded">
    <ocs-intro-section meta="meta.pageHeaderForgot"></ocs-intro-section>   
    
    <div class="row" ng-show="showPanel==1">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="resetByEmail" ng-submit="sendResetPwdEmail(emailAddress)" novalidate>
                        <div class="col-md-12">
                            <h2 ng-bind-html="msg(70203)"></h2>
                            <p class="lead" ng-bind-html="msg(249154) | unsafe"></p>
                        </div>
                        <div class="col-md-12">
                            <div ng-show="sentEmailSuccess" class="alert alert-success" role="alert">{{msg(330640)}}</div>
                            <div ng-show="sentEmailError" class="alert alert-danger" role="alert">{{msg(168675)}}</div>
                        </div>
                        <div class="col-md-12">
                            <ocs-input meta="meta.emailAddress" model="emailAddress"></ocs-input>
                        </div>
                        <div class="col-sm-12">
                            <!--<a tabindex="0" class="btn btn-link" ng-click="show(2)">{{msg(338963)}}</a>-->
                            <div class="btn-group pull-right" role="group" aria-label="...">
                                <button tabindex="0" class="btn btn-primary" ng-click="sendResetPwdEmail(emailAddress)" ng-disabled="resetByEmail.$invalid">{{msg(70088)}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="showPanel==2">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="getUserName" ng-submit="getSecretQuestion(userName)" novalidate>
                        <div class="col-md-12">
                            <h2 ng-bind-html="msg(70203)"></h2>
                            <p class="lead" ng-bind-html="msg(338962) | unsafe"></p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-show="questionError" class="alert alert-danger" role="alert">{{msg(363763)}}</div>
                                </div>
                                <div class="col-md-12">
                                    <ocs-input meta="meta.userName" model="userName"></ocs-input>
                                </div>
                                <div class="col-md-12">
                                    <a tabindex="0" class="btn btn-link" ng-click="show(1)">{{msg(338964)}}</a>
                                    <div class="btn-group pull-right" role="group" aria-label="...">
                                        <button tabindex="0" class="btn btn-primary" ng-click="getSecretQuestion(userName)" ng-disabled="getUserName.$invalid">{{msg(70088)}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="showPanel==3">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form name="resetByUserName" ng-submit="resetPasswordOnline(secretAnswer)" novalidate>
                        <div class="col-md-12">
                            <h2 ng-bind-html="msg(70203)"></h2>
                            <p class="lead" ng-bind-html="msg(338962) | unsafe"></p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-show="answerError" class="alert alert-danger" role="alert">{{msg(330645)}}</div>
                                </div>
                                <div class="col-md-12">
                                    <ocs-input meta="meta.secretQuestion" model="secretQuestion"></ocs-input>
                                </div>
                                <div class="col-md-12">
                                    <ocs-input meta="meta.secretAnswer" model="secretAnswer"></ocs-input>
                                </div>
                                <div class="col-md-12">
                                    <div class="btn-group pull-right" role="group" aria-label="...">
                                        <button tabindex="0" class="btn btn-primary" ng-click="resetPasswordOnline(secretAnswer)" ng-disabled="resetByUserName.$invalid">{{msg(70088)}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

