@{ ViewBag.Title = "Saved Schools"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/schools/schools-meta.js"></script>
<script src="~/UI/schools/schools-config.js"></script>

<script src="~/UI/schools/schools-app.js"></script>
<script src="~/UI/schools/index/schools-index-ctrl.js"></script>
<script src="~/UI/schools/view/schools-view-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
