@{ ViewBag.Title = "About Us"; }


@section Header
{
<!-- build:js -->
<script src="~/UI/aboutUs/aboutUs-meta.js"></script>
<script src="~/UI/aboutUs/aboutUs-config.js"></script>

<script src="~/UI/aboutUs/aboutUs-app.js"></script>
<script src="~/UI/aboutUs/index/aboutUs-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
