@{ ViewBag.Title = "Error"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/error/error-meta.js"></script>
<script src="~/UI/error/error-config.js"></script>

<script src="~/UI/error/error-app.js"></script>
<script src="~/UI/error/Index/error-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>
