<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentInfo_Type" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <Monster.Configuration>
    <GlobalFramework.Core>
      <CryptoFactory>
        <Providers xdt:Transform="Replace">
          <clear />
          <Provider name="SafeNetCryptoProvider" ConnectionToken="EAAQ/YcDMBiwTFGAQodvKj47i5L83x01TCm8ID7A2OyDrsDjAOscclo/s/pTWqHLVOWEOMMIj8KvCm64440AvR93Y7RT9r1lUogQrNDAg9MUCh1dhaDqpRighnfyLnfnalq1M/wtyy/kwmQgqjkbMuCXxKbTPJItT+1DRcDNwAPTqLeTggsuENGJYwiiBAC8bonRs75pFw0fi3eAKLBSbstopeQ8te7YQoXXJuhqRdv6ij+VKA+V9v7jawuc8zuEOVP3TzA4xekd87zotqjQsvAOZzhq8YVXkt+WllVLUAuXK0LGU3CuknGv+T17/Rsl8HAP62AW1qOz28C1gbgVyXdd7tsYnJAPq9jMDza2fDgfqQutNRoAMZaReaGGscSQ+dvL" />
        </Providers>
      </CryptoFactory>
    </GlobalFramework.Core>
  </Monster.Configuration>

  <system.web>
    <compilation defaultLanguage="c#" debug="false" xdt:Transform="SetAttributes(debug)">
    </compilation >
  </system.web >
</configuration>