<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.comfig examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentInfo_Type" value="QA" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <compilation defaultLanguage="c#" debug="false" xdt:Transform="SetAttributes(debug)">
    </compilation >
  </system.web >

  <Monster.Configuration>
    <GlobalFramework.Core>
      <CryptoFactory>
        <Providers xdt:Transform="Replace">
          <clear />
          <Provider name="SafeNetCryptoProvider" ConnectionToken="EAAQ0YoyWHOU+jZaLY20DmnW2CgVi05U/bGODIPa8tllLLkuWLVnsTwIhsfv4nldqUtR7rNVQQbpjcUQG7W6GWPSys34SxbceOW9Kvp7G60J+qBOU+cTtEhikQmy5KofiQ24jQnRUP1YqzM8KqhAcVYSTTxw19FNmcg4kaR5nY1e+H0j6VMM89RYAcXPGyVnt0EqOeKHoXWS/pxwOhWjA8D5uuq80LMJdh8SpaescTyYk2uMhgYQOOLGUb0fpjs31BhKicFCpUU30iTm3oiMlA8PfxS0Jm6ttbwkO8/3ZUcGL8MaQOV3A/QZ5oKafNBgP92rqeE7Aimc7FD9X5RNDVNd3kihShM1Vu0yRoIW8O0ewqY96ZtrizGoDiGPQA5RL8oR" />
        </Providers>
      </CryptoFactory>
    </GlobalFramework.Core>
  </Monster.Configuration>
</configuration>