<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Monster.Configuration">
      <section name="GlobalFramework.Core" type="Monster.GlobalFramework.Core.Configuration.GlobalFrameworkConfigurationSectionHandler, Monster.GlobalFramework.Core" />
    </sectionGroup>
    <section name="UIConfiguration" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" restartOnExternalChanges="true" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup></configSections>
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="ApplicationID" value="Lexus" />
    <add key="EnvironmentInfo_Type" value="Development" />
    <add key="RepositoryType" value="Core" /> 
  </appSettings>
  
  <Monster.Configuration>
    <GlobalFramework.Core>
      <Database IncludeAppNameInConnectionString="true" />
      <CryptoFactory KeysRefreshTimeOut="1440">
        <Providers>
          <clear />
          <Provider name="SafeNetCryptoProvider" ConnectionToken="EAAQ0YoyWHOU+jZaLY20DmnW2CgVi05U/bGODIPa8tllLLkuWLVnsTwIhsfv4nldqUtR7rNVQQbpjcUQG7W6GWPSys34SxbceOW9Kvp7G60J+qBOU+cTtEhikQmy5KofiQ24jQnRUP1YqzM8KqhAcVYSTTxw19FNmcg4kaR5nY1e+H0j6VMM89RYAcXPGyVnt0EqOeKHoXWS/pxwOhWjA8D5uuq80LMJdh8SpaescTyYk2uMhgYQOOLGUb0fpjs31BhKicFCpUU30iTm3oiMlA8PfxS0Jm6ttbwkO8/3ZUcGL8MaQOV3A/QZ5oKafNBgP92rqeE7Aimc7FD9X5RNDVNd3kihShM1Vu0yRoIW8O0ewqY96ZtrizGoDiGPQA5RL8oR" />
          <Provider name="SafeNetSoapCryptoProvider" isActive="true" assemblyName="Monster.GlobalFramework.Providers.Cryptography.SafeNetSoap" className="Monster.GlobalFramework.Providers.Cryptography.SafeNetSoapCryptoProvider" cfgFilePath="C:\Program Files (x86)\Ingrian\DotNet\IngrianNAE.properties" ConnectionToken="EAAQ0YoyWHOU+jZaLY20DmnW2CgVi05U/bGODIPa8tllLLkuWLVnsTwIhsfv4nldqUtR7rNVQQbpjcUQG7W6GWPSys34SxbceOW9Kvp7G60J+qBOU+cTtEhikQmy5KofiQ24jQnRUP1YqzM8KqhAcVYSTTxw19FNmcg4kaR5nY1e+H0j6VMM89RYAcXPGyVnt0EqOeKHoXWS/pxwOhWjA8D5uuq80LMJdh8SpaescTyYk2uMhgYQOOLGUb0fpjs31BhKicFCpUU30iTm3oiMlA8PfxS0Jm6ttbwkO8/3ZUcGL8MaQOV3A/QZ5oKafNBgP92rqeE7Aimc7FD9X5RNDVNd3kihShM1Vu0yRoIW8O0ewqY96ZtrizGoDiGPQA5RL8oR" />
        </Providers>
      </CryptoFactory>
    </GlobalFramework.Core>
  </Monster.Configuration>

  <UIConfiguration configSource="Dist\UI.config" />
  
  <system.web>
    <authentication mode="None" />
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" enableVersionHeader="false" />
	<httpCookies requireSSL="true" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.3.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" /></modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
		<add name="X-Frame-Options" value="SAMEORIGIN" />
          <clear />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <!-- content-Security-Policy Settings -->

<nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
    <securityHttpHeaders>
        <content-Security-Policy enabled="false">
          <default-src self="true" />
          <script-src unsafeInline="true" unsafeEval="true" self="true">
            <add source="https://core.ui.lexus.monster.com"/>
            <add source="https://www.google.com" />
            <add source="https://www.google-analytics.com" />
            <add source="https://ajax.googleapis.com" />
            <add source="https://www.gstatic.com"/>
            <add source="https://translate.google.com"/>
            <add source="https://securemedia.newjobs.com"/>
            <add source="https://translate.googleapis.com"/>
            <add source="https://apis.google.com"/>
            <add source="https://www.dropbox.com"/>
            <add source="https://kendo.cdn.telerik.com"/>
            <add source="https://cloudapi.awsdevus.party2001.com"/>
            <add source="https://cloudapi.awsqaus.mwwaws.com"/>
            <add source="https://logs.jobs.com"/>
            <add source="https://oas.monster.com"/>
            <add source="https://se.monetate.net"/>
            <add source="https://images.military.com"/>
            <add source="https://f.monetate.net"/>
            <add source="https://ssl.google-analytics.com"/>
            <add source="https://ipv4.google.com"/>
            <add source="https://dpm.demdex.net"/>
          </script-src>
          <style-src unsafeInline="true" self="true">
            <add source="https://core.ui.lexus.monster.com"/>
            <add source="https://maxcdn.bootstrapcdn.com"/>
            <add source="https://fonts.googleapis.com"/>
            <add source="https://translate.googleapis.com"/>
          </style-src>
          <img-src self="true">
            <add source="https://www.google.com"/>
            <add source="https://www.google-analytics.com" />
            <add source="https://core.ui.lexus.monster.com"/>
            <add source="https://securemedia.newjobs.com"/>
            <add source="https://dl.dropboxusercontent.com"/>
            <add source="https://newjobs.d1.sc.omtrdc.net"/>
            <add source="https://stats.g.doubleclick.net"/>
            <add source="https://translate.googleapis.com"/>
            <add source="https://www.gstatic.com"/>
            <add source="https://cloudapi.awsdevus.party2001.com"/>
            <add source="https://cloudapi.awsqaus.mwwaws.com"/>
             <add source="https://logs.jobs.com"/>
            <add source="https://images.military.com"/>
            <add source="https://ssl.google-analytics.com"/>
            <add source="https://f.monetate.net"/>
            <add source="https://csi.gstatic.com"/>
          
          </img-src>
          
          <font-src self="true">
            <add source="https://core.ui.lexus.monster.com"/>
            <add source="https://maxcdn.bootstrapcdn.com"/>
            <add source="https://fonts.gstatic.com"/>
            <add source="https://fonts.googleapis.com"/>
            <add source="https://f.monetate.net"/>
            <add source="data:"/>
          </font-src>
          <object-src none="false" />
          <media-src none="false" />
          <frame-src self="true" >
            <add source="https://www.youtube.com"/>
            <add source="https://player.vimeo.com"/>
            <add source="https://accounts.google.com"/>
            <add source="https://docs.google.com" />
            <add source="https://content.googleapis.com" />
            <add source="https://job-openings.awsqaus.military.com"/>
            <add source="https://job-openings.awsdevus.military.com"/>
            <add source="https://job-openings.military.com"/>
            <add source="https://job-openings.lexus.awsqaus.monster.com"/>
            <add source="https://job-openings.lexus.awsdevus.monster.com"/>
            <add source="https://job-openings.lexus.monster.com"/>
          </frame-src>
          <connect-src self="true" >
            <add source="https://core.ui.lexus.monster.com"/>
            <add source="https://services.lexus.monster.com"/>
            <add source="https://cloudapi.awsdevus.party2001.com"/>
          </connect-src>
          <frame-ancestors none="false" />
          <report-uri enableBuiltinHandler="true"/>
        </content-Security-Policy>      
    </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec></configuration>