@{ ViewBag.Title = "Saved Jobs"; }

@section Header
{
<!-- build:js -->
<script src="~/UI/savedJobs/savedJobs-meta.js"></script>
<script src="~/UI/savedJobs/savedJobs-config.js"></script>

<script src="~/UI/savedJobs/savedJobs-app.js"></script>
<script src="~/UI/savedJobs/index/savedJobs-index-ctrl.js"></script>
<!-- endbuild -->
}

<div ng-view></div>



